{% extends 'base.html.twig' %}

{% block title %}Time index{% endblock %}

{% block body %}
    <h1>Time index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start</th>
                <th>End</th>
                <th>Project_id</th>
                <th>User_id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for time in times %}
            <tr>
                <td>{{ time.id }}</td>
                <td>{{ time.start ? time.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ time.end ? time.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ time.projectId }}</td>
                <td>{{ time.userId }}</td>
                <td>
                    <a href="{{ path('time_show', {'id': time.id}) }}">show</a>
                    <a href="{{ path('time_edit', {'id': time.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('time_new') }}">Create new</a>
{% endblock %}
